<h1>New Vehicle</h1>
<p>
    {{ vehicle | json }}
</p>
<div class="panel panel-default">
    <div class="panel-heading">...</div>
    <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="submit()">
            <h3>Details</h3>

            <div class="well">
                <div class="form-group">
                    <label for="make" Make>Make</label>
                    <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" name="makeId" required #make="ngModel">
                    <option value=""></option>
                    <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="make.touched && !make.valid">Please specify the Make</div>
                </div>

                <div class="form-group">
                    <label for="model">Model
              </label>
                    <select id="model" class="form-control" [(ngModel)]="vehicle.modelId" name="modelId" required #model="ngModel">
                <option value=""></option>
                <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
                </select>

                    <div class="alert alert-danger" *ngIf="model.touched && !model.valid">Please specify the Model</div>
                </div>
                <p> Is this vehicle registered? </p>
                <div class="radio">
                    <label for="registered">
              <input type="radio" name="isregisterd" value="true" id="registered" [(ngModel)]="vehicle.isRegistered"> Yes
              </label>
                    <label for="notRegistered">
                  <input type="radio" name="isregisterd" value="false" id="notRegistered" [(ngModel)]="vehicle.isRegistered"> No
                </label>
                </div>
            </div>

            <h3>Features</h3>

            <div class="well">
                <div *ngFor="let f of features" class="checkbox">
                    <label for="feature{{ f.name }}">
                <input type="checkbox" id="feature{{ f.name }}" (change)="onFeatureToggle(f.name, $event)" > {{ f.name }} 
                </label>
                </div>
            </div>

            <h3>Contacts</h3>

            <div class="well">
                <div class="form-group">
                    <label for="contactName">Name</label>
                    <input type="text" class="form-control" [(ngModel)]="vehicle.contact.name" name="Name" required #name="ngModel">
                    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Please specify the Make</div>
                </div>
                <div class="form-group">
                    <label for="contactPhone">Phone</label>
                    <input type="text" class="form-control" [(ngModel)]="vehicle.contact.phone" name="Phone">
                </div>
                <div class="form-group">
                    <label for="contactEmail">Email</label>
                    <input type="text" class="form-control" [(ngModel)]="vehicle.contact.email" name="Email">
                </div>
            </div>
            <!-- [disabled]="!f.valid" -->
            <button class="btn btn-primary">Save</button>
        </form>
    </div>
</div>